.direction-content-wrapper {
  background-color: #CAACE5;
  height: 348px;
  background-position: 100% 100%;
}

.direction-content-wrapper-muzykalnoe {
  background-image: url(../img/direction-page-img.png);
  background-position: 100% 310%;
}

.direction-content-wrapper-dekorativno-prikladnoe {
  background-image: url(../img/back-direction4.png);
  background-position: 85% 100%;
}

.direction-content-wrapper-teatralnoe {
  background-image: url(../img/back-direction5.png);
  background-position: 85% 100%;
}

.direction-content-wrapper-horeoagraficheskoe {
  background-image: url(../img/back-direction2.png);
  background-position: 85% 100%;
}

.direction-content-wrapper-hudozhestvennoe {
  background-image: url(../img/back-direction3.png);
  background-position: 80% 100%;
}

.direction-content-wrapper-shahmaty {
  background-image: url(../img/back-direction6.png);
  background-position: 85% 100%;
}

.direction-affairs-section {
  margin-bottom: 90px;

  .filters-wrapper {
    margin-bottom: 60px;
  }

  .row {

    .col-lg-4 {
      margin-bottom: 30px;
    }
  }

}

@media (max-width: 1024px) {
    .direction-content-wrapper {
    height: 580px;
    background-position: 50% 100%;
  }

  .direction-content-wrapper-horeoagraficheskoe {
    background-position: 50% 100%;
    background-size: 450px;
  }

  .direction-affairs-section .filters-wrapper {
    justify-content: flex-end;
    margin-bottom: 50px;
  }
  .direction-affairs-section .row .col-lg-4 {
    margin-bottom: 40px;
  }

}

@media (max-width: 600px) {
  .direction-content-wrapper {
    height: 400px;
    background-size: 315px;
    background-position: 50% 100%;

    .content-wrapper-header {
      padding-top: 120px;
    }
  }

  .direction-content-wrapper-teatralnoe {
    background-size: 255px;
  }

  .direction-content-wrapper-dekorativno-prikladnoe {
    background-size: 115px;
  }

  .direction-content-wrapper-horeoagraficheskoe {
    background-size: 305px;
  }

  .direction-content-wrapper-hudozhestvennoe {
    background-size: 205px;
  }

  .direction-affairs-section .filters-wrapper {
    margin-bottom: 30px;
  }
  .direction-affairs-section .row .col-lg-4 {
    margin-bottom: 25px;
  }
}
