.event-content-wrapper {
  background-color: #CAACE5;
  background-image: url(../img/event-page-img.png);
  height: 348px;
}


@media (max-width: 1024px) {
  .event-content-wrapper {
    height: 580px;
    background-size: 100%;

    .container {
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 600px) {
  .event-content-wrapper {
    height: 400px;
    background-size: 130%;
    background-position: 150% 100%;
    background-repeat: repeat-x;
  }
}
